html, body {
  height: 100%;
}

body {
  background: #fff;
  color: #fff;
  margin: 0px; 
  height: 100%;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 20px;
  line-height: 18px; }

a:hover {
  color: #fff;
  background-color: #fff; }

.container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
  justify-content: center;
  padding-top: 80px;
}

.body {
  margin-top: 79px;
}

.body-login, .body-login > div {
  height: 100%;
}

.section-header {
  font-size: 35px;
  font-weight: bold;
  padding: 60px;
  text-align: center;
  color: #00343d;
}
