.btn {
  background: #0be;
  border: none;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  line-height: 1.8;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 90px;
  margin: 35px 0 0px 11px;
  padding: 17px 90px;
}
