.header {
    background: #fff;
    border-bottom: 1px solid #0bd8a2;
    box-shadow: 0 2px 7px 0 RGB(0 0 0 / 20%);
    color: #00343d;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-height: 79px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .header-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    width: 85%;
  }
  
  .header-nav p, .header-actions p {
    margin-top: 31px;
  }
  
  .header-nav a, .header-actions a {
    font-size: 16px;
    white-space: nowrap;
    height: 80px;
    line-height: 80px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    display: block;
    border-bottom: 2px solid transparent;
    color: #00343d;
    text-align: center;
    text-decoration: none;
  }
  
  .header-nav a:hover, .header-actions a:hover {
    border-bottom: 2px solid #fff;
  }
  
  .header-actions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
  }
  
  .header-logo {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    width: 210px;
  }
  
  .brand {
    position: relative;
    vertical-align: middle;
  }
  
  .brand-logo {
    height: 40px;
    margin-right: 15px;
  } 
  
  .header-logo .brand img {
    vertical-align: middle;
  }
