.login {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  color: #26666b;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 RGB(0 0 0 / 30%);
  box-shadow: 0 30px 60px 0 RGB(0 0 0 / 30%);
  text-align: center;
  margin: auto;
}

.btn {
  background: #0be;
  border: none;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  line-height: 1.8;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 90px;
}

.m-25 {
  margin: 25px;
}

.link {
  font-size: 16px;
  white-space: nowrap;
  position: relative;
  display: block;
  color: #26666b;
  text-align: center;
  text-decoration: none;
  background: #fff;
}

.link:hover {
  background: #fff;
  color: #26666b;
}
