table {
  table-layout: fixed;
  width: 60%;
  margin: 0 auto;
}

thead {
  position: -webkit-sticky; 
  position: sticky; 
  top: 0px; 
  z-index: 100;
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #00343d;

}

td {
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #00343d;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
